@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  @apply leading-none tracking-tight;
  background-color: #030712;
  color: #f9fafb;
  font-kerning: none;
}



.title-wrapper > .line:nth-child(2) {
  text-align: end !important;
}

@media screen and (max-width: 640px) {
  .wrapper {
    background: url("../public/background-1.webp"), linear-gradient(transparent 80%, #030712);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
